{{#if socket.publicPolls}}
  <h1>Public Polls</h1>
  {{#each socket.publicPolls as |poll|}}
    <h5>{{#link-to "view" poll.id class="public-poll"}}{{poll.topic}}{{/link-to}}</h5>
  {{/each}}
{{else}}
  <h2>Loading...</h2>
{{/if}}
