<br>
{{#if initialLoad}}
  <h2>{{topic}}</h2>
  <br>
  {{#each options as |option|}}
    {{#spin-button class=(concat "btn btn-block btn-" (if option.selected "success" "dark")) buttonStyle="zoom-out" action=(action "vote" option)}}
      <h5>{{option.name}}</h5>
      <p>{{option.votes}} votes</p>
    {{/spin-button}}
  {{/each}}
  {{#liquid-if allowEditing}}
    <br>
    <h5>{{#link-to "edit" poll_id class="text-dark"}}Edit Poll{{/link-to}}</h5>
  {{/liquid-if}}
{{else}}
  <h2>Loading...</h2>
{{/if}}
