@import "ember-cli-bootstrap-4/bootstrap";
@import "spin-button";
@import "ember-power-calendar";

.logo {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.footer-logo {
  margin-bottom: 10px;
}

.listed-poll {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  @extend .text-dark;
}

.bold {
  font-weight: bold;
}

.ember-power-calendar {
  margin: 0 auto;
  @include ember-power-calendar($cell-size: 50px);
}

.custom-select {
  background: #fff !important;
}

.vote-button {
  &.no-votes {
    padding: 20px 0;
  }

  h5 {
    margin-bottom: 0;
  }
}
