<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "create" class="navbar-brand"}}Strawpoller{{/link-to}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        {{#link-to "public" class="nav-link"}}Public Polls{{/link-to}}
      </li>
      {{#if socket.allPolls}}
        <li class="nav-item">
          {{#link-to "all" class="nav-link"}}All Polls{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
<br>
<div class="container bg-light text-center">
  <br>
  {{#if socket.isHandshook}}
    {{outlet}}
  {{else}}
    <h2 class="text-center">Connecting...</h2>
  {{/if}}
  <br>
</div>
