<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Strawpoller</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="strawpoller/config/environment" content="%7B%22modulePrefix%22%3A%22strawpoller%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22SOCKET_HOST%22%3A%22/%22%2C%22name%22%3A%22strawpoller%22%2C%22version%22%3A%220.0.0%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-d41d8cd98f00b204e9800998ecf8427e.css">
    <link integrity="" rel="stylesheet" href="/assets/strawpoller-fef298a07342584ef0f31323502a18c1.css">

    
  </head>
  <body>
    

    <script src="/assets/vendor-7f63ad94a66d91e78275e8ba9a5d4eee.js" integrity="sha256-jlUq5pYXP6fE9B2eI+m9mSPWqGrr+r7u05ezBvdE+vA= sha512-TSWc9QHxB1ajR2jz6lp/k4vtZ64G2r7tqX3aHFqoai6NWH+dlws85+z9oQ82II3UlUEdMMHcpPZMrrVJnKTvGQ==" ></script>
    <script src="/assets/strawpoller-fb8b54c60da5c9772c95358e1f5d8e2f.js" integrity="sha256-QeNKyGoWfyP6uEBociPEJ+5pox0ZRHaY8f+B+zaq4rQ= sha512-WLqim8i4uqC6WZ/3LrB4yEUDxlObqzboqLK9pI/vID/nGxIdwHfRsaKsjgOOmstJL2Kz4UKhliSJgjMLjFbGng==" ></script>

    
  </body>
</html>
