<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Strawpoller</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<meta name="strawpoller/config/environment" content="%7B%22modulePrefix%22%3A%22strawpoller%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22hash%22%2C%22pageTitle%22%3A%7B%22separator%22%3A%22%20-%20%22%7D%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22SOCKET_HOST%22%3A%22/%22%2C%22name%22%3A%22strawpoller%22%2C%22version%22%3A%220.0.0+2bce3c54%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link integrity="" rel="stylesheet" href="/assets/vendor-571d67531622102402268bd2c623c17f.css">
    <link integrity="" rel="stylesheet" href="/assets/strawpoller-d2b2b5c4519ba9751e699e0f434b964e.css">

    
  <link rel="manifest" href="/manifest.json">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#fff">
<meta name="application-name">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title">
<link rel="icon" type="image/png" sizes="228x228" href="/coast-228x228-60fb0476d5fd0b3c5f9a8d30a7a57217.png">
<link rel="yandex-tableau-widget" href="/yandex-browser-manifest.json">
<meta name="msapplication-TileColor" content="#fff">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="msapplication-config" content="/browserconfig.xml">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="/apple-touch-startup-image-320x460-2e79fe745914d77fc320590fafa6c460.png">
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-640x920-3333e27c56d1aef5e652e1a38529ae06.png">
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-640x1096-50017016b76ba12eeb0828f8083ea819.png">
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-750x1294-b0f84d35b2feacaa88efd12a9431e6e4.png">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="/apple-touch-startup-image-1182x2208-4a14b61bbecdd50271c5b9997c7d9ec2.png">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="/apple-touch-startup-image-1242x2148-b7b0c3127dba1b054ea467e2a1a894f3.png">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="/apple-touch-startup-image-748x1024-f64c668b6b4ac2a94d6349efb8516163.png">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="/apple-touch-startup-image-768x1004-97ce4309ad61aa475d7259f11857ecf6.png">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-1496x2048-265f9771b6827d123047dc006a26b9d5.png">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-1536x2008-b15926e82dfb6eee3b719ca4f312a6e9.png">
</head>
  <body>
    

    <script src="/assets/vendor-f1658e5a8f5eda0705d8259104dbc7a7.js" integrity="sha256-uxutMAj0hHyiMLPC09/PvE/OIo32HMxqTQQOc6C4vBk= sha512-shVyPBAsH5/o8G9WvpxDvct222rHon8Opv9nb+bKIhDngD7wI9brdSKgWRCyINg/kYfUgr45Fqf8vtdVcybZ7w==" ></script>
    <script src="/assets/strawpoller-5a1838dbe12800076303e1ad410d2dea.js" integrity="sha256-WMALqOHtwXn4s4EAuasUzxMfDSIwd0T9OJcPh67uc64= sha512-Dz43tYXN49ks812Q4hdG0hdJEM3QswxDPV6PNuPSVifKnsUmcGNp1oFyYTIriw1ts39N0o3YKPBI4w7Hw1lbRQ==" ></script>

    
  </body>
</html>
